table, th, td {
	border-collapse: collapse;
    border: 1px solid black;
}
table > tbody > tr > td {
	white-space: nowrap;
	overflow: hidden;         /*/ <- this does seem to be required */
	text-overflow: ellipsis;
	max-width: 100px;
}