/* TODO: use relative units to support HiDPI displayes */

/* Distribute vertical space */
#listspace{
	height: 394px;
}

#allowAll{
	float: right;
}

.filedebug{
	font-size: 10px;
	padding:5px 5px;
	margin: 0px 5px;
	float: right;
}

#debugallbutton{
	font-size: 15px;
	padding-right: 15px;
	padding:8px 8px;
	margin: 0px 10px;
	float: right;
}
