/* monitoring section */
#monTitle {
    text-align: center;
}

#listspace {
    height: 380px;
}

.eye{
    float:right;
}

#modal{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20%;
}

#optOut {
    float: right;
}
