/* security section */
.filter-title{
    margin-bottom: 5px;
}

#securityimage{
    float: left;
}

#listspace {
    height: 365px;
}

#securityimage{
    float: left;
}

.filter-title{
    margin-bottom: 5px;
}
