.main-content {
    padding-top: 1em;
    padding-bottom: 1em;
}

#list {
    overflow: auto;
    max-height: 100%;
}

.acc-list-item {
    overflow-x: hidden;
    word-break: break-word;
}

.acc-title {
    display: inline-block;
}

.domain-title {
    display:inline-block;
    width: 165px;
    word-break: break-all;
}

.acc-toggle{
    float:right;
}

.bottom {
    margin-top: 15px;
}

#reference-list-item {
	display: none
}

.hide{
    display: none !important;
}
