/* Remove all margins to make window properly fit the contents */
body {
	margin: 0;
	padding: 0;
	/* Workaround for apparent Firefox bug:
	 * Firefox miscalculates the size of the popup by a bit,
	 * and then creates vertical scroller for the entire popup
	 * Alternatively, can just increase page size by 1px
	 * 	height: 491px;
	 */
	overflow: hidden;
}

.main-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Size of the window on non-restricted pages */
#allContent {
	height: 490px;
}

.all-content-half {
	width: 325px;
}

.all-content-full {
	width: 650px;
}

/* Style of the main menu */
#main-menu {
	height: 100%;
	float: left;
}

.main-menu-full {
	width: 100%;
}

.main-menu-half {
	width: 50%;
    border-right: 2px solid rgba(34, 36, 38, 0.15);
}

/* Style of the Details section */
#details {
	width: 50%;
	height: 100%;
	float: right;
	position: relative;
	border: none;
}

/* Unselected details section is hidden */
.details-hide {
	display: none;
}

#securityIcon {
	font-size: 6em;
	margin: 10px;
}

.highlight-title {
	color: #1e70bf !important;
}

/*speedometer*/
.wrapper {
  width: 600px;
  margin: 0 auto;
}

.rang {
  text-align: center;
}

.rang-title {
  display: inline-block;
  width: 200px;
}

.rang-number {
  width: 100%;
  margin-top: 40px;
  text-align: center;
  border-width: 0;
  font-size: 50px;
  font-weight: 900;
  background-color: #faf9f7;
  color: #0093d7;
}

.rang-slider[type=range] {
  width: 400px;
  margin-top: 40px;
  -webkit-appearance: none;
}

.rang-slider[type=range]:focus {
  outline: none;
}

.rang-slider[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 25px;
  background: #0093d7;
  cursor: pointer;
}

.rang-slider[type=range]::-webkit-slider-thumb {
  width: 50px;
  height: 20px;
  margin-top: 0;
  border-radius: 25px;
  background: #ffc815;
  -webkit-appearance: none;
  cursor: pointer;
}

.rang-slider[type=range]:focus::-webkit-slider-runnable-track {
  background: #a3cd3b;
}

.meter {
  display: block;
  width: 273px;
  height: 155px;
  margin: 0 auto;
}

.meter-left {
  -webkit-transform: skewX(-2deg) skewY(1deg);
          transform: skewX(-2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 192;
  stroke-dasharray: 89 400;
  stroke: #2afe37;
  fill: none;
}

.meter-center {
  stroke-width: 56;
  stroke-dashoffset: 128;
  stroke-dasharray: 120 400;
  stroke: #faf209;
  fill: none;
}

.meter-right {
  -webkit-transform: skewX(2deg) skewY(1deg);
          transform: skewX(2deg) skewY(1deg);
  stroke-width: 58;
  stroke-dashoffset: 86;
  stroke-dasharray: 84 520;
  stroke: #ff0000;
  fill: none;
}

.meter-clock {
  -webkit-transform: rotate(-54deg);
          transform: rotate(-54deg);
  -webkit-transform-origin: 137px 146px;
          transform-origin: 137px 146px;
  fill: black;
}

.meter-circle {
  fill: black;
}

#viewbox{
	width:140px;
	height:100px;
	float: left;
}

#contentbox{
	width: 148px;
}

#secTitle{
	padding-top: 0px;
}

#securityimage{
	height: ;
	max-height: ;
}
